<div class="empty-message" *ngIf="displayEmpty">Select items to display.</div>
<ng-container *ngFor="let type of itemTypes; let i = index">
    <timeline-group [items]="displayItems[type]" [category]="i"></timeline-group>
</ng-container>
<timeline-axis-labels [startDate]="startDate" [endDate]="endDate"></timeline-axis-labels>
<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let type of itemTypes" [label]="type">
        <table mat-table [dataSource]="items | typefilter:type" class="mat-elevation-z8">
            <ng-container matColumnDef="display">
                <th mat-header-cell *matHeaderCellDef> Display </th>
                <td mat-cell *matCellDef="let item"><input type="checkbox" [checked]="item.display" (change)="toggleItem(item)"></td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let item"> {{item.metaData.name}} </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef> Released </th>
                <td mat-cell *matCellDef="let item"> {{item.startDate | date: 'MMMM, yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef> End of Life </th>
                <td mat-cell *matCellDef="let item"> {{item.endDate | date: 'MMMM, yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Settings">
        <mat-select>
            <!--<mat-option placeholder="Select a year" *ngFor="let year of years">
                {{year}}
            </mat-option>-->
        </mat-select>
    </mat-tab>
</mat-tab-group>


<input type="text" #startYear (keyup.enter)="updateRange(startYear.value)" />

