.timeline {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

.mat-column-display {
    width: 60px;
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
}

.empty-message {
    background: #aaa;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    border-radius: 12px;
    display: inline-block;
}

mat-slider {
    width: 400px;
}

mat-drawer {
    width: 550px;
}

.timeline-groups {
    height: calc(100% - 15px);
}