.item {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 12px;
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: 6px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    &.start-only {
        background-color: transparent !important;
        color: #333 !important;
        border-left: 3px solid black;
        border-radius: 0;
        padding-left: 6px;
        white-space: nowrap;
    }

    &.category {
        &-CPU {
            background-color: var(--category-0);
            border-color: var(--category-0);
            
            &:hover{
                background-color: var(--category-0-hover);
            }
        }
        &-Motherboard {
            background-color: var(--category-1);
            border-color: var(--category-1);
        }
        &-Computer {
            background-color: var(--category-2)
        }
        &-VideoCard {
            background-color: var(--category-3)
        }
        &-Memory {
            background-color: var(--category-4)
        }
        &-SoundCard {
            background-color: var(--category-5)
        }
        &-6 {
            background-color: var(--category-6)
        }
    }
}