.container {
    align-items: center;
    background: #555;
    color: #ccc;
    position: relative;
    border-left: 20px solid #555;
    height: 15px;

    display: flex;
    flex-direction: row;

    div {
        font-size: 11px;
    }
}
