.container {
    align-items: center;
    background: #555;
    color: #ccc;
    position: relative;
    height: 15px;

    display: flex;
    flex-direction: row;
    z-index: -1;

    div {
        font-size: 11px;
    }

    .stripe {
        background: #f8f8f8;
        height: 1000px;
        position: absolute;
        bottom: 15px;
    }
}
