<mat-toolbar>Retro Explorer 
    <div class="range">
        -
        <mat-slider min="30" max="100">
            <input matSliderThumb [(ngModel)]="yearWidth" #slider (input)="timeline.setYearWidth($event)">
        </mat-slider>
        +
        <!--{{startDateSlider.value}}
        
        <mat-slider min="1970" max="2024" color="">
            <input #startDateSlider value="1970" (input)="timeline.setStartYear($event)" matSliderStartThumb>
            <input #endDateSlider value="2023" (input)="timeline.setEndYear($event)" matSliderEndThumb>
        </mat-slider>
        {{endDateSlider.value}}-->
    </div>
</mat-toolbar>
<timeline #timeline (yearWidth)="yearWidth"></timeline>