/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
}

:root {
    --category-0: #BB3E03;
    --category-0-hover: hsl(19, 97%, 35%);
    --category-1: #005F73;
    --category-1-hover: hsl(190, 100%, 21%);
    --category-2: #0A9396;
    --category-3: #94D2BD;
    --category-4: #E9D8A6;
    --category-5: #EE9B00;
    --category-6: #CA6702;
}